@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
  overflow: scroll;
}

body * {
  /* border: 1px solid red; */
  /* height: 100%; */
}

.bold {
  font-weight: bold;
}

/* .blank {
  background-color: black;
  color: white;
  text-align: center;
} */

table,
th,
td {
  /* border: 1px solid black;
  border-collapse: collapse; */
  padding: 5px;
}

.clickable {
  cursor: pointer;
  background-color: white;
}

.clickable:hover {
  filter: drop-shadow(5px 5px 5px gray);
}

.rollup0 {
  background-color: rgb(224, 252, 255);
}

.rollup1 {
  background-color: rgb(196, 249, 255);
}

.rollup2 {
  background-color: rgb(148, 244, 255);
}
